@tailwind base;
@tailwind components;
@tailwind utilities;

.component-page{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://credencellc1.sharepoint.com/sites/CredenceIntranet/SiteAssets/Credence%20Intranet%20Page%20Design%20Wireframe/LandingPgImg.jpg");
  background-size: 100% 100%; 
  
}

.header-section {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    margin-top: 5px;
}

.card-page-header {
    font-size:x-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.usa-card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px; /* Adjust spacing as needed */
  }
  .usa-card {
    list-style: none;
  }

  .card-group-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
  }

  .component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* equivalent to h-screen */
    
}

.notifications-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

.demo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("https://credencellc1.sharepoint.com/sites/CredenceIntranet/SiteAssets/Credence%20Intranet%20Page%20Design%20Wireframe/LandingPgImg.jpg");
  background-size: 100% 100%; 
  gap: 250px;
}